.rotating-icon1{
    width:100px;
    aspect-ratio:1;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.rotating-center{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}