/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.root {
  height: 100%;
  background: linear-gradient(45deg,#462F74,#71F8C2);
}

.nav-bar{
  position:relative;
  padding:20px 0 0 74px;
  align-items: center;
  display: flex;
  font-family: 'Roboto',sans-serif;
  color: white;
  font-size: 20px;
  gap:40px;
  height: 10vh;
}

.join{
  right:100px;
  position: absolute;
  margin-left: 100px;
}

.join-button{
  font-family: 'Roboto',sans-serif;
  color: white;
  font-size: 20px;
  cursor:pointer;
  height:43px;
  width:133px;
  border-radius: 25px ;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.join-button:hover .arrow-icon{
  rotate: -45deg;
}

.smaller-circle{
  position: absolute;
  right: 3px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
}

.join-label{
  position:absolute;
  text-align: center;
  width: 110px;
  font-size:14px;
  color: white;
}

.join-label::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.4s ease-in-out;
}

.join-button:hover .join-label::after {
  width: 50%;
}

.arrow-icon{
  color: black;
  padding-bottom: 2px;
  rotate:0deg;
  transition: rotate 200ms ease-in-out;
}

.health-icon{
  position: relative;
  width: 50%;
  left: 5rem;
  top: 5rem;
  rotate: 0deg;
  transition: rotate 800ms ease-in-out;
}

.health-icon:hover{
  rotate: 180deg;
}

.main-text{
  transform: scale(0.9);
  position: relative;
  left:40px;
  top:40px;
  font-family: 'Roboto',sans-serif;
  font-weight: bolder;
  font-size: 100px;
  color: white;
}

.health-label {
  font-weight:900;
  background: linear-gradient(90deg, #ffffff, #ff85c0,#fefefe);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.learn-more-label{
  position: relative;
  top:-60px;
  left:30px;
  font-size: 25px;
  font-weight: 500;
}
.lm{
  text-decoration: underline;
}

.try-now-button{
  flex-grow: 1;
  position:absolute;
  right:220px;
  bottom: 120px;
  display: flex;
  align-items: center;
  padding-top: 4rem;
}


/* Refactoring changes */

.main-body{
  /* background-color: red; */
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.left-content{
  position:relative;
  /* background-color: blue; */
  height: 100%;
  width: 65vw;
}

.right-content{
  position:relative;
  /* background-color: yellow; */
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.bottom-descriptions{
  transform: scale(0.9);
  width: 800px;
  height: 300px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap:30px;
}

.individual-properties{
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:30px;
}

.individual-description{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: lighter;
  gap:10px;
}

.nav-options{
  cursor: pointer;
}

.options-nav{
  visibility: hidden;
  display:flex;
  flex-direction: column;
  background:rgba(91, 141, 154, 0.726);
  color:white;
  z-index: 999;
  width: 100px;
  font-size: 14px;
  border-radius: 5px;
  &:hover{
    visibility: visible;
  }
}

.nav-options:hover ~ .options-nav{
  visibility: visible;
}

.options-nav a{
  padding: 8px;
  &:hover{
    background-color: lightblue;
    cursor: pointer;
  }
}
