.root {
  height: 100%;
  background: linear-gradient(45deg,#462F74,#71F8C2);
}
.nav-bar{
  position:relative;
  padding:20px 0 0 74px;
  align-items: center;
  display: flex;
  font-family: 'Roboto',sans-serif;
  color: white;
  font-size: 20px;
  gap:40px;
  height: 10vh;
}

p{
    font-family:  'Roboto',sans-serif;
    margin-top: 150px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.color-rotate {
    font-size: 60px;
    font-weight: bold;
    animation: spincolors 3s infinite linear;
    }

    @keyframes spincolors {
      0%   { color: rgb(211, 96, 96); }
      25%  { color: rgb(112, 112, 197); }
      50%  { color: rgb(255, 62, 4); }
      50%  { color: rgba(247, 0, 12, 0.582); }
      100% { color: rgb(218, 123, 0); }
    }